<nav [class.scrolled]="isScrolled" 
     [class.mega-open]="isSearchOpen" 
     class="navbar">
  <!-- Left: Logo -->
  <div class="nav-left">
    <a routerLink="/" class="logo">Wekaa<span>Doo</span></a>
  </div>

  <!-- Center: Main nav links -->
  <ul class="nav-center">
    <li><a routerLink="/how-it-works" routerLinkActive="active-link">How it Works</a></li>
    <li><a routerLink="/plans" routerLinkActive="active-link">Plans</a></li>
    <li><a routerLink="/features" routerLinkActive="active-link">Features</a></li>
    <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
  </ul>

  <!-- Right: Search & Account -->
  <div class="nav-right">
  <!-- Search button -->
  <div class="nav-item mega-menu-wrapper" (click)="toggleSearchMenu($event)">
    <a href="javascript:void(0)">Search</a>
  </div>

  <!-- Account -->
  <div class="nav-item dropdown-wrapper" [class.open]="isAccountOpen">
    <!-- pass $event so we can stopPropagation inside toggle -->
    <a href="javascript:void(0)" (click)="toggleAccountMenu($event)">Account</a>

    <div class="dropdown-menu">
      <!-- ACCOUNT-HOME -->
      <ng-container *ngIf="accountPage === 'account-home'">
        <p>Create an account and start your journey towards saving for your Future</p>
        <div class="auth-links">
          <a href="javascript:void(0)"
             (click)="goToPage('login', $event)"
             class="login">Login</a>

          <a href="javascript:void(0)"
             (click)="goToPage('signup', $event)"
             class="signup">Sign Up</a>
        </div>
      </ng-container>

      <!-- LOGIN -->
      <ng-container *ngIf="accountPage === 'login'">
        <h4>Login</h4>
        <div class="account-form">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <input type="email" placeholder="Email" formControlName="email" /><br />
            <input type="password" placeholder="Password" formControlName="password" /><br />
            <button type="submit">Login</button>
            <p class="para">Don't have an account?
              <a href="javascript:void(0)" (click)="goToPage('signup', $event)">Sign Up</a>
            </p>
          </form>
          <p>{{ authMessage }}</p>
        </div>
        <a href="javascript:void(0)" (click)="goBack($event)">← Back</a>
      </ng-container>

      <!-- SIGNUP -->
      <ng-container *ngIf="accountPage === 'signup'">
        <h4>Sign Up</h4>
        <div class="account-form">
          <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <input type="text" placeholder="First Name" formControlName="firstName" /><br />
            <input type="text" placeholder="Last Name" formControlName="lastName" /><br />
            <input type="email" placeholder="Email" formControlName="email" /><br />
            <input type="password" placeholder="Password" formControlName="password" /><br />
            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" /><br />
            <input type="file" (change)="onImageSelected($event)" /><br />
            <button type="submit" >Sign Up</button>
            <p class="para">Already have an account?
              <a href="javascript:void(0)" (click)="goToPage('login', $event)">Login</a>
            </p>
          </form>
          <p>{{ authMessage }}</p>
        </div>
        <a href="javascript:void(0)" (click)="goBack($event)">← Back</a>
      </ng-container>

    </div>
  </div>
</div>


  

  <!-- Mega Menu (full-width) -->
  <div class="mega-menu" [class.open]="isSearchOpen">
    <div class="search-wrapper">
      <input type="text" placeholder="Start typing what you are looking for" />
      <button><i class="fas fa-search"></i></button>
      
    </div>

    <!-- Links Grid -->
    <div class="links-grid">
      @for (link of links; track link.label) {
        <a [href]="link.url">{{ link.label }}</a>
      }
    </div>
    
  </div>

</nav>
